# Temp file directory
/scripts/.snakemake/*
/scripts/log.txt
/scripts/cryptdata/.snakemake/*

# Output directory
/data/output/*

#Data for tools
/data/KRAKEN/*
/data/standard_db/*

# Externally derived scripts
scripts/variant_calling/GenerateFreebayesRegions.R
scripts/variant_calling/fasta_generate_regions.py

scripts/log.txt
.vscode/settings.json
data/KRAKEN/taxonomy/.nucl_gb.accession2taxid.gz.vpIBXa
