# Temp file directory
/scripts/.snakemake/*
/scripts/LeeSixData/.snakemake/log/*
/scripts/log.txt
/scripts/cryptdata/.snakemake/*

# Output directory
/data/output/*

#Data for tools
/data/KRAKEN/*
/data/standard_db/*

# Externally derived scripts
scripts/variant_calling/GenerateFreebayesRegions.R
scripts/variant_calling/fasta_generate_regions.py

scripts/log.txt
.vscode/settings.json
data/KRAKEN/taxonomy/.nucl_gb.accession2taxid.gz.vpIBXa
scripts/24286X3_001.fastq.gz_kraken2_classification.txt
data/default_credential_file.json
scripts/LeeSixdata/.snakemake/log/2024-09-03T134113.990784.snakemake.log
scripts/LeeSixdata/.snakemake/log/2024-09-03T134409.966742.snakemake.log
scripts/LeeSixdata/.snakemake/log/2024-09-03T134523.429869.snakemake.log
